/* Overall */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 90%;
  height: auto;
}

/* About me section */
.about-me {
  background-color: powderblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me > h1 {
  margin: 0 0 10px 0;
}

.about-me > img {
  align-self: center;
  padding: 20px;
}

#my-photo {
  width: 300px;
  height: auto;
  border-radius: 10%;
}
/* Skills Section */
.skills-section {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
}

.skills-list > h4 {
  margin: 10px 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills > p {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 10px;
  background-color: beige;
}

.skills > p:hover {
  scale: 1.2;
}

/* Project Section */
.projects-section {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed blue;
  margin: 10px;
  background-color: aquamarine;
}

.project > p {
  /* text-align: center; */
  margin: 10px;
}

#chronopanthers-pic {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10%;
  margin: 10px;
}

.project-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: last baseline; */
}

.tech {
  display: flex;
  align-self: self-start;
}

.tech > p {
  padding: 3px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;
  background-color: lightgray;
}

.project-link {
  padding: 3px;
  margin: 5px;
}

.resume {
  background-color: lavenderblush;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.resume > h2 {
  align-self: center;
}

.resume > p {
  padding: 10px;
  margin: 10px;
}

.resume-content {
  width: 100%;
  padding: 0 10px 10px 10px;
  margin: 0 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.resume-button {
  align-self: last baseline;
}
