@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: Calibri, "Trebuchet MS", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { transform: translateY(20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideIn {
  0% { transform: translateX(-10px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
